# **Coding and Programming**

## ***Capítulo 7***

### ***Procesamiento de datos, estadísticas descriptivas y visualización de datos***

- **Unidad 34.** Uso de módulos de Python
- **Unidad 35.** Serie de Pandas para el tratamiento de datos
- **Unidad 36.** Pandas DataFrame para procesamiento de datos
- **Unidad 37.** Ordenamiento de datos
- **Unidad 38.** Datos de series temporales

# **Quiz 7**

___

## ***Q 34-01***

Convierta los siguientes datos del diccionario en un dataframe usando **Pandas**.

(Denomina el dataframe `df`)

`d = { 'col1':[1,2], 'col2':[3,4], 'col3':[5,6], 'col4':[7,8] }`

In [6]:
# Librerías
import pandas as pd
from IPython.core.display import HTML

# Definir diccionario 
d = { 'col1':[1,2], 'col2':[3,4], 'col3':[5,6], 'col4':[7,8] }

# Crear DataFrame
df = pd.DataFrame(d)

# Imprimimos DataFrame 
print("DataFrame:")
display(HTML(df.to_html()))

DataFrame:

___

## ***Q 35-01***

En el marco de datos creado en la pregunta **Q 34-01**, cree un nuevo dataframe que consista solo en los datos de la columna con el nombre de columna `'col4'`.

(Denomina el dataframe `new_df`)

In [5]:
# Librerías
import pandas as pd
from IPython.core.display import HTML

# Definir diccionario 
d = { 'col1':[1,2], 'col2':[3,4], 'col3':[5,6], 'col4':[7,8] }

# Seleccionar solo la columna 'col4' del diccionario
col4_data = d['col4']

# Crear DataFrame solo con 'col4' values 
new_df = pd.DataFrame({'col4': col4_data})

# Imprimimos Nuevo ataFrame
print("DataFrame:")
display(HTML(new_df.to_html()))

DataFrame:

In [4]:
# Librerías
import pandas as pd
from IPython.core.display import HTML

# Definir diccionario 
d = { 'col1':[1,2], 'col2':[3,4], 'col3':[5,6], 'col4':[7,8] }

# Crear DataFrame
df = pd.DataFrame(d) 

# Imprimir DataFrame 
print("Original DataFrame:")
display(HTML(df.to_html()))

# Crear nuevo DataFrame con solo la columna 'col4'
new_df = pd.DataFrame(df['col4'].values, columns=['col4'])

# Imprimir Nuevo DataFrame
print("\n--------------------------------")
print("New DataFrame:")
display(HTML(new_df.to_html()))

Original DataFrame:

--------------------------------
New DataFrame:

___

## ***Q 36-01***

El índice del dataframe creado en la pregunta **Q 34-01** es `0` y `1`.

Escriba un comando para cambiar el nombre de estos índices a `primero` y `segundo`.

In [3]:
# Librerías
import pandas as pd
from IPython.core.display import HTML

# Definir diccionario 
d = { 'col1':[1,2], 'col2':[3,4], 'col3':[5,6], 'col4':[7,8] }
index = ['Primero', 'Segundo']

# Crear DataFrame
df = pd.DataFrame(d, index= index) 

# Imprimir DataFrame 
print("DataFrame:")
display(HTML(df.to_html()))

DataFrame:

___

## ***Q 37-01***

Escriba un comando para buscar datos faltantes en el dataframe `df` creado en la pregunta **Q 34-01** e imprima el resultado.

(Sin embargo, los datos que faltan deben devolverse como verdaderos).

In [2]:
# Librerías
import pandas as pd
from IPython.core.display import HTML

# Definir diccionario 
d = { 'col1':[1,2], 'col2':[3,4], 'col3':[5,6], 'col4':[7,8] }

# Crear DataFrame
df = pd.DataFrame(d) 

# Imprimir DataFrame 
print("DataFrame:")
display(HTML(df.to_html()))

# Buscar Datos faltantes
faltantes = df.isnull()

# Imprimir Datos Faltantes 
print("\n----------------------------------------------------------")
print("Datos Faltantes:")
display(HTML(faltantes.to_html()))

DataFrame:

----------------------------------------------------------
Datos Faltantes:

___

## ***Q 38-01***

Escriba un comando para verificar el resumen de las estadísticas descriptivas (desviación estándar, valor mínimo, moda, etc.) del dataframe `df` creado en la pregunta **Q 34-01** e imprima el resultado.

In [1]:
# Librerías
import pandas as pd
from IPython.core.display import HTML

# Definir diccionario 
d = { 'col1':[1,2], 'col2':[3,4], 'col3':[5,6], 'col4':[7,8] }

# Crear DataFrame
df = pd.DataFrame(d) 

# Imprimir DataFrame 
print("DataFrame:")
display(HTML(df.to_html()))

# Verificar estadísticas descriptivas
estadisticas = df.describe()

# Imprimir estadísticas descriptivas
print("\n----------------------------------------------------------")
print("Estadisticas Descriptivas: ")
display(HTML(estadisticas.to_html()))

DataFrame:

----------------------------------------------------------
Estadisticas Descriptivas:

___

# **Fin**